{
    "main": "src/main.php",
    "output": "../bin/minecraft_server_query.phar",

    "directories": ["src"],
    "finder": [
        {
            "name": "*.php",
            "in": "vendor"
         }
    ]
}